@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<EasyTrain_P2Gr1.Models.Client>
@{
    Layout = "_LayoutCompte";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>ListeArbres</title>
</head>
<body>
    <table class="mytable">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Date d'embauche</th>
        </tr>
        <!--foreach (Client client in List<Client>)-->
        @foreach (EasyTrain_P2Gr1.Models.Client client in Model)  
        {
            <tr>
                <td>@client.Id</td>
                <td>@client.Nom</td>
                <td>@client.Prenom</td>
                <td>@client.DateCreationCompte.ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </table>
    <br />
    <button class="btnlisteCoach" onclick="window.location.href='/client/ModifierClient'">Modifier</button>
    <button class="btnlisteCoach" onclick="window.location.href='/client/SupprimerClient'">Supprimer</button>
</body>
</html>
