@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<EasyTrain_P2Gr1.Models.Equipement>
@{
    Layout = "_LayoutGestionnaire";
}

<link rel="stylesheet" href="~/css/Jeanleo.css">
<div class="fieldsetModifier">
    <fieldset class="tableForm">
        <legend><h2>Les équipements</h2></legend>
        <div class="tableModifier">
            <table>
                <tr>
                    <th>Nom</th>
                    <th></th>
                </tr>
                @foreach (EasyTrain_P2Gr1.Models.Equipement equipement in Model)
                {
                    <tr>
                        <td>@equipement.Nom</td>
                        <td>
                            <button class="btnSuppression" onclick="window.location.href='/Gestionnaire/GestionnaireSupprimerGestionnaire/@equipement.Id'">Supprimer</button>
                        </td>
                    </tr>
                }
                <tr>
                    <td><button onclick="window.location.href='/equipement/creerequipement'" class="btnStandardbleu">Nouvel équipement</button></td>
                </tr>
            </table>
        </div>
    </fieldset>
</div>