@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model EasyTrain_P2Gr1.ViewModels.TestReservationViewModel

@{
    Layout = "_LayoutClient";
}

<main>
    @using (Html.BeginForm())
    {

        <fieldset>
            <legend>Effectuer une réservation: </legend>
            
    
            <br />
            @Html.DropDownListFor(m => m.SelectCoursProgrammeId, 
                new SelectList(Model.CoursProgrammes, "Id", "DateDebut"))
      
            <br />
           
            <br />
            <input type="submit" value="Valider la réservation" />
        </fieldset>
    }
</main>
