@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EasyTrain_P2Gr1.ViewModels.ReservationViewModel
@{
    
    Layout = "_LayoutClient";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SupprimerReservation</title>
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    @using (Html.BeginForm())
    {  <div class="container">
        <fieldset>
            <legend>Supprimer une Réservation : </legend>
            
            <br />
            @Html.LabelFor(m => m.Reservation.CoursProgramme.DateDebut)
            @Html.DisplayFor(m => m.Reservation.CoursProgramme.DateDebut)
            <br />
            @Html.HiddenFor(m => m.SelectCoursProgrammeId)
            @Html.HiddenFor(m => m.Reservation.Id)
            <input type="submit" value="Supprimer" />
        </fieldset>
        </div>
    }
</body>
</html>



