
@{
    ViewData["Title"] = "Salle de Sport";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/stylesLayout.css" />
    <link rel="stylesheet" href="~/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,500;1,700&family=Taviraj:wght@100&display=swap" rel="stylesheet">

    <title>@ViewData["Title"]</title>
</head>
<body class="bodyLayout">
    <header class="headerUtilisateur">
        <div class="logo">
            <a href="/">
                <img src="/images/Logo_easy_trainSF.png" alt="Logo EASY TRAIN">
            </a>
        </div>
        <div class="dropdown">
            <button class="dropbtn"><img src="/images/deconnexion.svg" alt="log-out"></button>
            <div class="dropdown-content">
                <a href="/coach">Mon profil</a>
                <a href="/Login/Deconnexion">Se déconnecter</a>
            </div>
        </div>
    </header>

    <nav class="sidebar">
        <div class="sidebarLink">
            <a href="/coach">Profil</a>
        </div>
        <div class="sidebarLink">
            <a href="/coursprogramme">Mon planning</a>
        </div>
        <div class="sidebarLink">
            <a href="/coursprogramme/creercoursprogramme">Planifier un cours</a>
        </div>
        <div class="sidebarLink">
            <a href="/reservation">Consulter les réservations</a>
        </div>
        

    </nav>
    <!--Render section jusque la-->
    <main class="mainCompte">
        <!--inserer ici le main-->
        @RenderBody()
    </main>
    <footer>
        <div>
            <h3>Contact</h3>
            <p>Adresse : 123 Rue de la Salle, Ville</p>
            <p>Téléphone : 03 81 81 81 81</p>
            <p>Email : contact@easytrain.fr</p>
        </div>
        <div>
            <h3>Horaires</h3>
            <p>Lundi - Vendredi : 8h00 - 22h00</p>
            <p>Samedi : 5h00 - 23h00</p>
            <p>Dimanche : 5h00 - 00h00</p>
        </div>
        <div>
            <h3>Suivez-nous</h3>
            <ul class="social-media">
                <li><a href="#"><i class="fab fa-facebook" style="color:white"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter" style="color:white"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram" style="color:white"></i></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>




