@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
   
    <link rel="stylesheet" href="/css/Sabrine.css">
</head>
<body>
    <div class="nonDispo">
        <p>
            <strong>
                <h1>
                    Nous sommes désolés,toutes les
                    places pour ce cours sont actuellement occupées. Veuillez consulter notre planning
                    pour d'autres options de cours disponibles.
                </h1>
            </strong>
        </p>
    </div>
</body>
</html>

