@{
    Layout = "_LayoutCompte";
}

    <main>
        <div id="experience">
            <h5>Mes expériences</h5>
        </div>
        <div id="formation">
            <h5>Mes formations</h5>
        </div>
        <div id="CompetenceEtCentreInteret">
            <div id="Competence">
                <h5>Mes compétences</h5>
            </div>
            <div id="CentreInteret">
                <h5>Mes centre d'interets</h5>
            </div>

        </div>

    </main>