@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="fieldsetModifier">
    <fieldset>
        <legend><h2>Modifier votre profil</h2></legend>

        @Html.Partial("_FormulaireUtilisateur")

        <div class="btnCoachModifier">
            <input type="submit" value="Confirmer" />
        </div>
    </fieldset>
</div>