@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EasyTrain_P2Gr1.Models.Gestionnaire;
@{
    Layout = "_LayoutGestionnaire";
}

@using (Html.BeginForm())
{
    <div class="fieldsetModifier">
        <fieldset>
            <legend><h2>Modifier votre profil</h2></legend>

            @Html.Partial("_ModifierUtilisateur")

        </fieldset>
    </div>

}

