


.fieldsetModifier {
    border-radius: 60px;
    
    padding: 40px;
    justify-content: center;
    align-items: center;
    display:flex;
}


legend {
    font-weight: bold;
    color:lightseagreen;
    text-align: center;
    font-size: 2em;
}

.TableCreerCours {
    margin: auto;
}

td {
    padding: 10px;
    font-weight: bold;
}


.btnCreerCours {
    position: relative;
    left: 50%;
    margin-bottom: 10px;
    transform: translateX(-30%);
    width: 150px;
    height: 40px;
}

.btnCreerCours:hover{
    background-color:lightseagreen;
}


