


.container {
    height: 300px;
    color: black;
    margin: 100px auto;
}

    .mytable thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
        
    }
   

    


.btnlisteCoach {
    background-color: #009879;
    color: black;
   
}
.btnlisteCoach:hover {
    background-color: chocolate;
}



table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
    font-size: 1em;

}

th, td {  
        text-align: center; 
    }
th {
   
    background-color: #009879;
    color:aliceblue;
}

tr:hover{
    background-color:goldenrod;
}
caption{
    background-color:goldenrod;
    color: white;
    padding: 50px;
    

}

