
/*EasyTrain Css
*/
/*Propriétées de base et variables*/   
* {
     /*supprimer les valeurs par default de navigateur*/
    margin: 0;
    padding: 0;

     /*comportement par default des box*/ 
    box-sizing: border-box;

    /* police par default*/ 
    font-family: 'Roboto', sans-serif;

   /* Variables */
    --main-color-principale: #F2CB05;
    --main-color-secondaire: #95D904;
    --main-color-intermediaire: #84BF04;

    --main-text-color-principale: #414040;
    --main-text-color-light: #ffffff;
    --main-text-color-fort: #2d2b2b;

    --main-shaddow-primary: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    --main-shaddow-secondaire: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h2 {
    font-size: 5em;
    margin-bottom: 1em;
}

 /*composants*/



.message {
    box-shadow: var(--main-shaddow-primary);
    color: var(--main-text-color-fort)
}

 /*Organisations*/ 
.container {
    padding: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ligne {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    width: 100%;
    margin: 0 10px 0 10px;
}

.col-11 {
    width: 91.33%;
    margin: 0 10px 0 10px;
}

.col-10 {
    width: 82.33%;
    margin: 0 10px 0 10px;
}

.col-9 {
    width: 68.33%;
    margin: 0 10px 0 10px;
}

.col-8 {
    width: 72.33%;
    margin: 0 10px 0 10px;
}

.col-7 {
    width: 58.33%;
    margin: 0 10px 0 10px;
}

.col-6 {
    width: 47.33%;
    margin: 0 10px 0 10px;
}

.col-5 {
    width: 37.33%;
    margin: 0 10px 0 10px;
}

.col-4 {
    width: 22.33%;
    margin: 0 10px 0 10px;
}

.col-3 {
    width: 23.33%;
    margin: 0 10px 0 10px;
}

.col-2 {
    width: 15.33%;
    margin: 0 10px 0 10px;
}

.col-1 {
    width: 6.33%;
    margin: 0 10px 0 10px;
}

.d-flex {
    display: flex;
}

.espace_autour {
    justify-content: space-around;
}


.j {
    background-color: var(--main-color-principale);
    /*height: 50em;*/
}

.g {
    background-color: #3b3b3b;
    padding: 10vh 0;
}

 /*bouttons*/ 
.btn {
    text-align:center;
    margin:1em;
    padding: 0.2em;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: var(--main-shaddow-primary);
}

.btn:hover {
    box-shadow: var(--main-shaddow-secondaire);
}

.btn-principal {
    font-size: 1em;
    padding: 0.5em;
    color: var(--main-text-color-light);
    background-color: var(--main-color-intermediaire);
}

.btn-principal:hover {
    color: var(--main-text-color-fort);
    background-color: var(--main-color-secondaire);
}

.btn-secondaire {
    padding: 0.2em 0.4em;
    color: var(--main-text-color-fort);
    background-color: var(--main-color-principale);

}

.btn-secondaire:hover {
    color: var(--main-text-color-fort);
    background-color: var(--main-color-secondaire);
}

.btnStandard {
    background-color: white;
    color: black;
    border: 2px solid #F2CB05;
    transition-duration: 0.4s;
    font-size: 1em;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 6em;
    border-radius: 3px;
}

    .btnStandard:hover {
        background-color: #F2CB05;
        color: white;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

.btnStandardbleu {
    background-color: white;
    color: black;
    border: 2px solid #22427C;
    transition-duration: 0.4s;
    font-size: 1em;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 6em;
    border-radius: 3px;
}

.btnStandardbleu:hover {
    background-color: #22427C;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnSuppression {
    background-color: white;
    color: black;
    border: 2px solid #F00020;
    transition-duration: 0.4s;
    font-size: 1em;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 6em;
    border-radius: 3px;
}
    .btnSuppression:hover {
        background-color: #F00020;
        color: white;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

.btnConfirmer {
    background-color: white;
    color: black;
    border: 2px solid #03AC13;
    transition-duration: 0.4s;
    font-size: 1em;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 6em;
    border-radius: 3px;
}

    .btnConfirmer:hover {
        background-color: #03AC13;
        color: white;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }



/*autres*/
.herO01 {
    display: flex;
    height: 100vh;
    padding-right: 40vw;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 23%, rgba(4, 4, 4, 1) 96%), url(/images/hero01.png), linear-gradient(rgba(38, 38, 38, 0.5), rgba(17, 17, 17, 0.5));
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: -4em;
}

.herO01 div {

}

.herO01 div h1 {
    color: white;
    margin-bottom: 0.7em;
    width: 4em;
    line-height: 0.7em;
    font-size: 10vw;
}

 /*Cartes*/
.cardeLoic {
    overflow: hidden;
    padding:1em;
    box-shadow: var(--main-shaddow-primary);
    border-radius:15px;
    display:flex;
    flex-direction:column;
}

.cardeFlatLoic {
    overflow: hidden;
    padding: 1em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:105%;
}

.cardsurvole {
    position: relative;
    overflow: hidden;
    height: 35em;
    width: 35em;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cardsurvole:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cardsurvole h3 {
    font-size: 3em;
    width: 5em;
    color: white;
    position: absolute;
    top: 38%;
    left: 5vw;
    text-align: center;
}

.cardsurvole img {
    opacity: 0.80;
}

.cardsurvole:hover img {
    opacity: 0.60;
}

.cardcoatch {
    background-color: white;
    margin: 1em;
    display: flex;
    overflow: hidden;
    height: 24em;
    width: 35em; 
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cardcoatch div {
    background-color: white;
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: center;
}

.cardcoatch img {
    width: 20em;
    aspect-ratio: 0.5;
    height: 100%;
}

.cardTitre {
    font-size: 5em;
}

.imgOut {


}

.imgOut img {
    height: 52em;
    width: 100%;
    margin-bottom: 2vh;
}

.ligneSpec {
    color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

     /*Css Specifique*/


.tableauL {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

    .tableauL th,
    td {
        padding: 15px;
        background-color: rgba(255,255,255,0.2);
    }

th {
    text-align: left;
}

thead {
    th

{
    background-color: #55608f;
}

}

tbody {
    tr

{
    &:hover

{
    background-color: rgba(255,255,255,0.3);
}

}

.tableauL tr td {
    position: relative;
    &:hover

{
    &:before

{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255,255,255,0.2);
    z-index: -1;
}

}
}
}



/* Navivation */
.logo img {
    max-width: 11em;
    height: auto;
}


.dropbtn img {
    height: 100%
}




    /*affichage mobile deskktop*/    
@media only screen and (min-width: 1224px) {
    :root {
        font-size: 10px;
    }

    .col-12 {
        width: 100%;
        margin: 0 10px 0 10px;
    }

    .col-11 {
        width: 91.33%;
        margin: 0 10px 0 10px;
    }

    .col-10 {
        width: 82.33%;
        margin: 0 10px 0 10px;
    }

    .col-9 {
        width: 68.33%;
        margin: 0 10px 0 10px;
    }

    .col-8 {
        width: 58.33%;
        margin: 0 10px 0 10px;
    }

    .col-7 {
        width: 38.33%;
        margin: 0 10px 0 10px;
    }

    .col-6 {
        width: 47.33%;
        margin: 0 10px 0 10px;
    }

    .col-5 {
        width: 37.33%;
        margin: 0 10px 0 10px;
    }

    .col-4 {
        width: 22.33%;
        margin: 0 10px 0 10px;
    }

    .col-3 {
        width: 23.33%;
        margin: 0 10px 0 10px;
    }

    .col-2 {
        width: 15.33%;
        margin: 0 10px 0 10px;
    }

    .col-1 {
        width: 6.33%;
        margin: 0 10px 0 10px;
    }


    .cardsurvole { 
        height: 25em;
        width: 25em  
    }
    .cardsurvole h3 {
            font-size: 2vw;

    }

    .dropbtn {
        height: 100%
    }

    .dropbtn {
       
        height: 50px;
        width: 50px;
       
    }



}



    /*affichage deskktop*/    
@media only screen and (min-width: 1824px) { /*Faire ça pour tous les types d'écran*/
    :root {
        font-size: 100%;
    }

    .imgOut img {
        height: 52em;
        width: 39em;
        margin-bottom: 5%;
    }
    


}

