@model List<EasyTrain_P2Gr1.Models.Abonnement>
@{
    Layout = "_LayoutGestionnaire";
}

    <div class="container">

        @if (TempData.ContainsKey("Message"))
        {
            <div>@TempData["Message"]</div>
        }
        <a href="creerabonnements"> Ajouter </a>

        <table class="tableauL">
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Prix</th>
                <th>Action</th>

            </tr>
            @foreach (EasyTrain_P2Gr1.Models.Abonnement abonnement in Model)
            {

                <tr>
                    <td>@abonnement.Id</td>
                    <td>@abonnement.Mensualite</td>
                    <td>
                        <a class=" btn btn-secondaire" href="modifierabonnement/@abonnement.Id"> modifier </a>
                        <a class=" btn btn-secondaire" href="supprimerabonnement/@abonnement.Id"> suprimer </a>
                    </td>
                </tr>
            }
        </table>
    </div>