@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutCoach";
}

<div class="fieldsetModifier">
    <fieldset class="tableForm">
        <legend><h2>Mon profil</h2></legend>
        <div class="tableModifier">

           <partial name="_InfoCompteUtilisateur"/>

        </div>
        <br />
        <br />
        <button class="btnStandard" onclick="window.location.href='/coach/ModifierCoach'">Modifier</button>
        <button class="btnSuppression" onclick="window.location.href='/coach/SupprimerCoach'">Supprimer</button>

        <br />
        <br />
    </fieldset>
</div>










