@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EasyTrain_P2Gr1.Models.Coach
@{
    Layout = "_LayoutCoach";
}

<div class="fieldsetModifier">
    <fieldset>
        <legend><h2>Ajouter un coach : </h2></legend>

        <partial name="_CreerUtilisateur"/>

        <div class="btnCoachModifier">

            <input type="button" value="Retour" onclick=" history.back();" class="btnStandard" />
            <input type="submit" value="Créer" class="btnConfirmer" />
        </div>
    </fieldset>
</div>