@model EasyTrain_P2Gr1.ViewModels.DashboardCoachViewModel
@{
    Layout = "_LayoutCoach";
  
}

<div class=" container">

    <div class="card">
        @foreach (var coach in Model.Coachs)
        {
            <div class="ligne">
                <a>@coach.Nom  @coach.Prenom</a>
            </div>
        }
    </div>

    <div class="card">

        @foreach (var cours in Model.Cours)
        {
            <a>@cours.Titre</a>
        }

        <div class="card">
            lol
        </div>

        <div class="card">

        </div>
    </div>
