@model EasyTrain_P2Gr1.ViewModels.DashboardCoachViewModel
@{
    Layout = "_LayoutGestionnaire";
}

<div class=" container">






    <div class="card">
        @foreach (var coach in Model.Coachs)
        {
                <div class="ligne">
                    <a>@coach.Nom  @coach.Prenom</a> 
                </div>
        }
    </div>

    <div class="card">

        @foreach (var cours in Model.Courses)
        {
            <a>@cours.Titre</a>
        }

    </div>


 

</div>