@model EasyTrain_P2Gr1.ViewModels.DashboardCoachViewModel
@{
    Layout = "_LayoutCoach";
   
}

<div class=" container">






    <div class="card">
     
    </div>

    <div class="card">

     
    </div>


  
</div>