@model EasyTrain_P2Gr1.ViewModels.DashboardCoachViewModel
@{
    Layout = "_LayoutCoach";
  
}

<div class=" container">
    @foreach (var reservation in Model.CoachReservations)
    {
        <a> @reservation.Client.Nom  @reservation.Client.Prenom</a>
    }

    <div class="card">
        lol
    </div>

    <div class="card">

    </div>
</div>