@model List<EasyTrain_P2Gr1.Models.Coach>
@{
    Layout = "_LayoutVisiteur";
}
<div class="conteneurWrap gris">
    @foreach (EasyTrain_P2Gr1.Models.Coach coach in Model)
    {
        <div class="col-3">
            <div class="cardcoatch">
                <img src=@coach.ImgPath alt="">

                <div>
                    <span>@coach.Specialité</span>
                    <h3 class="cardTitre">@coach.Nom</h3>
                    <div>
                        <p>@coach.Description</p>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
