@model List<EasyTrain_P2Gr1.Models.Coach>
@{
    Layout = "_LayoutVisiteur";
}
    <div class="conteneurWrap gris">
    @foreach (EasyTrain_P2Gr1.Models.Coach coach in Model)
    {
        <div class="carteCoach">
            <img src="/images/Loic/Image01.jpg" alt="">
            <div>
                <span>@coach.Prenom</span>
                <br>
                <span>@coach.Nom</span>
                <h3 class="carteTitre">titre</h3>
                <div>
                    <p>Lorem</p>
                </div>
            </div>
        </div>
    }
    </div>
