@{
    Layout = "_LayoutVisiteur";
}

    <main>
        
        <div>Bonjour la team! <br />
            <br />
            <strong>Pour vous connecter:</strong>
            <br />
            <ul>
                <li>
                    En tant que <b>Gestionnaire</b> : <br />
                    &nbsp;&nbsp;<b>AdresseMail</b> : stella.dubois@mail.fr<br />
                    &nbsp;&nbsp;<b>MotDePasse</b> : Fraise
                </li>
                <br />
                <li>
                    En tant que <b>Client</b> : <br />
                    &nbsp;&nbsp;<b>AdresseMail</b> : BONNER.Henri@gmail.com<br />
                    &nbsp;&nbsp;<b>MotDePasse</b> : Prune
                </li>
                <br />
                <li>
                    En tant que <b>Coach</b> : <br />
                    &nbsp;&nbsp;<b>AdresseMail</b> : bergermay@mail.fr<br />
                    &nbsp;&nbsp;<b>MotDePasse</b> : Poire
                </li>
            </ul>    
        </div>
    </main>