@{
    ViewData["Title"] = "Salle de Sport";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="#"><img src="/images/Logo_easy_train.png" alt="Logo EASY TRAIN"></a>
        </div>

        <h5>EasyTrain</h5>
        <div>
            <a class="login" href="#"><img src="/images/deconnexion.svg" alt="deconnexion"></a>
        </div>
    </header>
    <div id="menu">
        <h5>Menu</h5>
        <nav class="sidebar">
            <ul>
                <li><a href="#">RDV Coach</a></li>
                <li><a href="#">Mon planning</a></li>
                <li><a href="#">Le blog</a></li>
                <li><a href="#">Messagerie</a></li>
                <li><a href="#">Mon espace récompense</a></li>
            </ul>
        </nav>
    </div>
    <main>
        <div id="experience">
            <h5>Mes expériences</h5>
        </div>
        <div id="formation">
            <h5>Mes formations</h5>
        </div>
        <div id="CompetenceEtCentreInteret">
            <div id="Competence">
                <h5>Mes compétences</h5>
            </div>
            <div id="CentreInteret">
                <h5>Mes centre d'interets</h5>
            </div>

        </div>

    </main>
    <footer>
        <div>
            div1
        </div>
        <div>
            div2
        </div>
        <div>
            div3
        </div>
    </footer>
</body>
</html>
