@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<EasyTrain_P2Gr1.Models.Coach>
@{
    Layout = "_LayoutVisiteur";
}


<div class="herO01">
    <div>
        <h1> start at zero</h1>
        <a class="btn btn-principal" onclick="window.location.href='/client/creerclient'">s'incrire ici -></a>
    </div>

</div>

<div class="container j ">

    <div class="ligne ">
        <div class="col-5">
            <h2>EQUIPEMENTS & SERVICES</h2>
            <a class="btn btn-principal" onclick="window.location.href='/client/creerclient'">s'incrire ici -></a>

        </div>
        <div class="col-8 d-flex espace_autour">

            <div class="cardsurvole">
                <img src="/images/Image01.jpg" alt="" width="600" height="700">
                <h3>Nos abonnements</h3>
            </div>

            <div class="cardsurvole" onclick="window.location.href='/equipement/listeequipement'">

                <img src="/images/image02.jpg" alt="" width="600" height="700">
                <h3>Nos équipements</h3>
            </div>

        </div>

    </div>
</div>

<div class="container g">
    <div>
        <h2>carde</h2>
    </div>

    <div class="ligne">

        @foreach (EasyTrain_P2Gr1.Models.Coach coach in Model)
        {
            <div class="col-3">
                <div class="cardcoatch">
                    <img src=@coach.ImgPath alt="">
                    <img src="" alt="">
                    <div>
                        <span>@coach.Specialité</span>
                        <h3 class="cardTitre">@coach.Nom</h3>
                        <div>
                            <p>@coach.Description</p>
                        </div>
                    </div>
                </div>
            </div>

        }

    </div>
</div>

<div class="container j ">

    <div class="ligneSpec">
        <div class=" col-3 imgOut">
            <img src="../asset/img/image01.jpg" alt="">
        </div>
        <div class="col-8">
            <h2>quem ad modum</h2>
            <P>Restabat ut Caesar post haec properaret accitus et abstergendae causa suspicionis sororem suam, eius uxorem, Constantius ad se tandem desideratam venire multis fictisque blanditiis hortabatur. quae licet ambigeret metuens saepe cruentum, spe tamen quod eum lenire poterit ut germanum profecta, cum Bithyniam introisset, in statione quae Caenos Gallicanos appellatur, absumpta est vi febrium repentina.</P>
            <br>
            <P> cuius post obitum maritus contemplans cecidisse fiduciam qua se fultum existimabat, anxia cogitatione, quid moliretur haerebat.</P>
        </div>
    </div>
</div>

