@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<EasyTrain_P2Gr1.Models.Gestionnaire>
@{
    Layout = "_LayoutCompte";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>ListeArbres</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Date de création du compte</th>
        </tr>
        <!--foreach (Client client in List<Client>)-->
        @foreach (EasyTrain_P2Gr1.Models.Gestionnaire gestionnaire in Model)
        {
            <tr>
                <td>@gestionnaire.Id</td>
                <td>@gestionnaire.Nom</td>
                <td>@gestionnaire.Prenom</td>
                <td>@gestionnaire.DateEmbauche.ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </table>
</body>
</html>

