@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "_LayoutVisiteur";

}


<div class="herO03">
    <div class="contenther">
        <h1> start at zero</h1>
        <P>
            Restabat ut Caesar post haec properaret accitus et abstergendae causa suspicionis
            sororem suam, eius uxorem, Constantius ad se tandem desideratam venire multis fictisque
            blanditiis hortabatur. quae licet ambigeret metuens saepe cruentum, spe tamen quod eum
            lenire poterit ut germanum profecta, cum Bithyniam introisset, in statione quae Caenos
            Gallicanos appellatur, absumpta est vi febrium repentina.
        </P>
    </div>
</div>



<div class="container j ">

    <h2>
        Necvox
        accusatoris
    </h2>
    <hr />
    <P>
        Restabat ut Caesar post haec properaret accitus et abstergendae causa suspicionis
        sororem suam, eius uxorem, Constantius ad se tandem desideratam venire multis fictisque
        blanditiis hortabatur. quae licet ambigeret metuens saepe cruentum, spe tamen quod eum
        lenire poterit ut germanum profecta, cum Bithyniam introisset, in statione quae Caenos
        Gallicanos appellatur, absumpta est vi febrium repentina.
    </P>
    <br />
    <P>
        cuius post obitum maritus contemplans cecidisse fiduciam qua se fultum existimabat,
        anxia cogitatione, quid moliretur haerebat.
    </P>
    <br />
    <a class=" btn btn-secondaire" href="">m’inscrire --></a>
</div>

<div class="container j ">
    <div class="ligne ">
        <div class="col-8 d-flex espace_autour">

            <div class="cardervice">
                <img src="/images/Image01.jpg" alt="">
                <h3>Nos abonnements</h3>
            </div>

            <div class="cardservice">
                <img src="/images/image02.jpg" alt="">
                <h3>Nos équipements</h3>
            </div>
        </div>
    </div>
</div>

<div class="container g">
    <div>
        <h2>carde</h2>
    </div>

    <div class="ligne">
       

            <div class="col-3">
                <div class="cardteam">
                    <img src="../asset/img/image02.jpg" alt="">
                    <div>
                        <h3 class="cardTitre">titre</h3>
                        <div class="cardteamtext">
                            <p>Lorem</p>
                        </div>
                    </div>
                </div>
            </div>
       
    </div>
</div>

