@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "_LayoutVisiteur";

}


<div class="herO03">
    <div class="contenther">
        <h1> start at zero</h1>
        <P class="textblanc">
            La musculation, le cardio en salle et les sports en groupe gagnent en popularité en France en raison de la sédentarisation croissante et de l'alimentation calorique.
        </P>
    </div>
</div>



<div class="container blackus ">

    <hr />
    <h2 class="Interh2">
        EasyTrain est aussi une communauté formée par tous les utilisateurs.
    </h2>
   
    <P>
        Parmi nos services,vous disposez d'une messagerie interne, un système de parrainage entre clients, ainsi qu’un fil contributif où tous nos abonnées partagent leurs expériences, conseils et passions.
    </P>
    <br />
 
    <br />
    <a class=" btn btn-secondaire" href="/abonnement/creerabonnement">S’inscrire --></a>
</div>

<div class="container j">
    <div class="ligne espace_autour">
       

            <div class="cardservice">
                <img src="/images/services/presentationServices.jpg" alt="">
                <div>
                    <h3>Equipements & installation </h3>
                    <p>
                     Garantir à clients, l'équipement nécessaire pour atteindre leurs objectifs.
                    </p>
                <a class=" btn btn-secondaire" href="/abonnement/creerabonnement">S’inscrire --></a>
                </div>
                
            </div>

            <div class="cardservice">
                <img src="/images/services/presentationServices2.jpg" alt="">
                <div>
                    <h3>
                        Coaching personaliser
                    </h3>
                    <p>
                        offrir un accompagnement individualisé aux clients de la salle de sport
                    </p>
                <a class=" btn btn-secondaire" href="/abonnement/creerabonnement">S’inscrire --></a>
                </div>
            </div>
       
    </div>
</div>

<div class="container">
    <div>
        <h2>Team</h2>
    </div>

    <div class="ligne">
        <div class="col-3">
            <div class="cardteam">
                <img src="/images/team/team01.jpg" alt="">
                <div>
                    <h3 class="cardTitre">Jean</h3>
                    <span>Entraîneur Principal</span>
                    <div class="cardteamtext">
                        <p>Jean est un professionnel passionné de fitness avec des années d'expérience dans le domaine. Il est certifié en coaching sportif et sait comment motiver les membres de la salle de sport pour atteindre leurs objectifs. Jean est dévoué à aider les clients à progresser, que ce soit pour la perte de poids, la musculation ou l'amélioration de la condition physique globale.</p>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="col-3">
            <div class="cardteam">
                <img src="/images/team/team02.jpg" alt="">
                <div>
                    <h3 class="cardTitre">Sarah</h3>
                    <span>Prof de Fitness</span>
                    <div class="cardteamtext">
                        <p>Sarah est une instructrice de fitness dynamique et inspirante. Elle a une formation solide en danse et en exercices cardiovasculaires, ce qui lui permet de créer des cours de groupe stimulants et amusants. Sarah a une approche bienveillante et encourageante pour aider les clients à développer leur confiance en eux et à se mettre en forme.</p>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="col-3">
            <div class="cardteam">
                <img src="/images/team/team03.jpg" alt="">
                <div>
                    <h3 class="cardTitre">Michael</h3>
                    <span>Nutritionniste</span>
                    <div class="cardteamtext">
                        <p>Michael est le nutritionniste de l'équipe. Il possède une solide formation en nutrition et en santé, et il travaille en étroite collaboration avec les membres de la salle de sport pour les aider à élaborer des plans alimentaires adaptés à leurs objectifs. Michael est attentif aux besoins nutritionnels individuels et fournit des conseils pratiques pour une alimentation équilibrée.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="cardteam">
                <img src="/images/team/team04.jpg" alt="">
                <div>
                    <h3 class="cardTitre">Sophie</h3>
                    <span>kinésithérapeute</span>
                    <div class="cardteamtext">
                        <p>Sophie est une kinésithérapeute expérimentée et dévouée. Elle possède une solide formation en kinésithérapie et a acquis des années d'expérience en travaillant avec une variété de patients, des athlètes aux personnes en rééducation post-opératoire. Sa passion pour le bien-être et son approche bienveillante font d'elle un atout précieux pour sa profession.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

