@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutVisiteur";
}

<div class="herO02">
    <div>
        <h1> start at zero</h1>
    </div>
    <P>
        Restabat ut Caesar post haec properaret accitus et
        abstergendae causa suspicionis sororem suam, eius uxorem,
        Constantius ad se tandem desideratam venire multis fictisque blanditiis hortabatur.
        quae licet ambigeret metuens saepe cruentum, spe tamen quod eum lenire poterit ut germanum profecta,
        cum Bithyniam introisset, in statione quae Caenos Gallicanos appellatur, absumpta
        est vi febrium repentina.
    </P>
</div>

<div class="container j ">

    <div class="ligneSpec">
        <div class=" col-3 imgOut">
            <img src="../asset/img/image01.jpg" alt="">
        </div>
        <div class="col-8">
            <h2>quem ad modum</h2>
            <P>
                Restabat ut Caesar post haec properaret accitus et
                abstergendae causa suspicionis sororem suam, eius uxorem,
                Constantius ad se tandem desideratam venire multis fictisque blanditiis hortabatur.
                quae licet ambigeret metuens saepe cruentum, spe tamen quod eum lenire poterit ut germanum profecta,
                cum Bithyniam introisset, in statione quae Caenos Gallicanos appellatur, absumpta
                est vi febrium repentina.
            </P>
            <br>
            <P>
                cuius post obitum maritus contemplans cecidisse fiduciam qua se fultum existimabat, anxia cogitatione,
                quid moliretur haerebat.
            </P>

            <div>


            </div>
        </div>
    </div>
</div>

<div class="container g">
    <div class="ligne">
        <div class="col-3">
            <h2>
                Necvox
                accusatoris
            </h2>
            <P>
                Restabat ut Caesar post haec properaret accitus et abstergendae causa suspicionis
                sororem suam, eius uxorem, Constantius ad se tandem desideratam venire multis fictisque
                blanditiis hortabatur.
            </P>
            <br />
            <P>
                cuius post obitum maritus contemplans cecidisse fiduciam qua se fultum existimabat,
                anxia cogitatione, quid moliretur haerebat.
            </P>
            <br />
            <a class=" btn btn-secondaire" href="">s'incrire ici -></a>

        </div>
        <div class="col-9 scrollX">

            <div class="cardcoatch">
                <img src="image/img/image02.jpg" alt="">
                <div>
                    <span>lol</span>
                    <h3 class="cardTitre">titre</h3>
                    <div>
                        <p>Lorem</p>
                    </div>
                    <a class=" btn btn-secondaire" href="">s'incrire ici -></a>
                </div>
            </div>

            <div class="cardcoatch">
                <img src="image/img/image02.jpg" alt="">
                <div>
                    <span>lol</span>
                    <h3 class="cardTitre">titre</h3>
                    <div>
                        <p>Lorem</p>
                    </div>
                    <a class=" btn btn-secondaire" href="">s'incrire ici -></a>
                </div>
            </div>

            <div class="cardcoatch">
                <img src="image/img/image02.jpg" alt="">
                <div>
                    <span>lol</span>
                    <h3 class="cardTitre">titre</h3>
                    <div>
                        <p>Lorem</p>
                    </div>
                    <a class=" btn btn-secondaire" href="">s'incrire ici -></a>
                </div>
            </div>

            <div class="cardcoatch">
                <img src="image/img/image02.jpg" alt="">
                <div>
                    <span>lol</span>
                    <h3 class="cardTitre">titre</h3>
                    <div>
                        <p>Lorem</p>
                    </div>
                    <a class=" btn btn-secondaire" href="">s'incrire ici -></a>
                </div>
            </div>

            <div class="cardcoatch">
                <img src="image/img/image02.jpg" alt="">
                <div>
                    <span>lol</span>
                    <h3 class="cardTitre">titre</h3>
                    <div>
                        <p>Lorem</p>
                    </div>
                    <a class=" btn btn-secondaire" href="">s'incrire ici -></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container j ">

    <h2>
        Necvox
        accusatoris
    </h2>
    <P>
        Restabat ut Caesar post haec properaret accitus et abstergendae causa suspicionis
        sororem suam, eius uxorem, Constantius ad se tandem desideratam venire multis fictisque
        blanditiis hortabatur. quae licet ambigeret metuens saepe cruentum, spe tamen quod eum
        lenire poterit ut germanum profecta, cum Bithyniam introisset, in statione quae Caenos
        Gallicanos appellatur, absumpta est vi febrium repentina.
    </P>
    <br />
    <P>
        cuius post obitum maritus contemplans cecidisse fiduciam qua se fultum existimabat,
        anxia cogitatione, quid moliretur haerebat.
    </P>
    <br />
    <a class=" btn btn-secondaire" href="">s'incrire ici -></a>

</div>

