@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<EasyTrain_P2Gr1.Models.Coach>
@{
    Layout = "_LayoutVisiteur";
}

<div class="herO02">
    <div>
        <h1> SUR sur-mesure</h1>
    </div>
    <P>
        créer une offre de sport sur mesure qui correspond précisément à vos attentes
        et à vos besoins. Notre approche personnalisée garantit que vous tirez le meilleur parti
        de chaque séance d'entraînement, en vous aidant à atteindre vos objectifs plus rapidement
        et de manière plus efficace.
    </P>
</div>

<div class="container g">
    <div class="ligne">
        <div class="col-3 ml-3" >
            <h2 class="textblanc">
                Nos Coachs
            </h2>
            <P class="textblanc">
                Dynamiques et professionnels nos paécialiste du coaching se
                distinguent par leur approche énergique, motivante et orientée
                vers l'action pour aider les individus à atteindre leurs objectifs
                personnels et professionnels. Ils possèdent un ensemble de compétences
                essentielles, notamment la communication efficace,
                l'écoute active, la motivation, et la compréhension
                des besoins individuels. Les clients recherchent souvent
            </P>


            <br />
            <a class=" btn btn-secondaire" href="">s'incrire ici -></a>

        </div>

        <div class="col-9 scrollX">

            @foreach (EasyTrain_P2Gr1.Models.Coach coach in Model)
            {

               <div class="cardcoatch">
                   <img src=@coach.ImgPath alt="">
                   <div>
                       <span>@coach.Specialité</span>
                       <h3 class="cardTitre">@coach.Nom</h3>
                       <div>
                           <p>@coach.Description</p>
                       </div>
                   </div>
               </div>

            }
        </div>
    </div>
</div>


